SUPABASE_ID=SUPABASE_ID
SUPABASE_API_KEY=SUPABASE_API_KEY

NAMESPACE=NAMESPACE # Any generated UUIDv4

TMDB_KEY=TMDB_KEY

TRAKT_ID=TRAKT_ID

GROWTH_KEY=sdk-XXXXXXXXXXXX
GROWTH_DEV_MODE=false
GROWTH_TIME_OUT=500

FEED=https://otakumode.com/news
YUNA=https://arm.haglund.dev
ANIME_THEMES=https://api.animethemes.moe
MAL=https://api.jikan.moe/v4
NOTIFY=https://notify.moe/api
GROWTH=http://growthbook-proxy:3300
SKYHOOK=http://skyhook.sonarr.tv/v1
TMDB=https://api.themoviedb.org/3
TRAKT=https://api.trakt.tv

MIN_LOG_LEVEL=INFO
OPTIC_TRACING=true

MONGO_URL=mongodb://anitrend:anitrend@mongo/anitrend

PORT=9800
HOST=edge.docker.localhost

CERT_RESOLVER=local
TRAEFIK_ENABLE=false

OTEL_DENO=true
OTEL_DENO_SERVICE_NAME=on-the-edge
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT=http://otel-collector:4318/v1/metrics
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otel-collector:4318/v1/traces
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://otel-collector:4318/v1/logs

# staging/production
DENO_ENV=staging

SEGMENT_KEY=SEGMENT_KEY

CLIENT_REQUEST_TIMEOUT=5000

REDIS_URL=redis://default:admin@redis:6379
