# Traefik Configuration
TRAEFIK_ENABLE=true
CERT_RESOLVER=letsencrypt
HOST=edge.example.com
PORT=3000

OTEL_DENO=true
OTEL_DENO_SERVICE_NAME="on-the-edge"
OTEL_EXPORTER_OTLP_ENDPOINT="http://otel-collector:4318"
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT="http://otel-collector:4318"
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://otel-collector:4318"
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT="http://otel-collector:4318"
