# ETCD Configuration
ETCD_ENABLE_V2=true
ETCD_ROOT_PASSWORD=your_secure_password
ALLOW_NONE_AUTHENTICATION=no
ETCD_ADVERTISE_CLIENT_URLS=http://apisix-etcd:2379
ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
PORT=2379

CERT_RESOLVER=local
TRAEFIK_ENABLE=false