# Traefik Configuration
TRAEFIK_ENABLE=false
CERT_RESOLVER=staging

HOST=proxy.growthbook.docker.localhost
PORT=3200

# Proxy Configuration
SDK_ENDPOINT=http://growthbook:3100
CACHE_TTL=30

GROWTHBOOK_API_HOST=http://growthbook:3100
SECRET_API_KEY=SECRET_API_KEY

VERBOSE_DEBUGGING=true
#One of: memory, redis, or mongo (default: memory)
CACHE_ENGINE=redis
#The URL of your cache engine e.g. Redis or Mongo Database
CACHE_CONNECTION_URL='redis://default:password@redis:6379'
CACHE_STALE_TTL=60
CACHE_EXPIRES_TTL=600