# Traefik Configuration
TRAEFIK_ENABLE=true
CERT_RESOLVER=letsencrypt
HOST=api.apisix.example.com
PORT=9080

# APISIX Configuration
APISIX_STAND_ALONE=false 
APISIX_ENABLE_ADMIN=true
APISIX_DEV_MODE=false
APISIX_ENABLE_HTTP2=true
APISIX_ENABLE_CONTROL=true
APISIX_CONTROL_PORT=9092
APISIX_ADMIN_PORT=9180

# Prometheus Configuration
APISIX_ENABLE_PROMETHEUS=true
APISIX_PROMETHEUS_PORT=9091

# OpenTelemetry Configuration
OPEN_TELEMETRY_COLLECTOR=otel-collector:4318

# Admin API Configuration
ADMIN_KEY=edd1c9f034335f136f87ad84b625c8f1
VIEWER_KEY=4054f7cf07e344346cd3f287985e76a2
ALLOW_ADMIN_IP=0.0.0.0/0 