# Traefik Configuration
TRAEFIK_ENABLE=false
CERT_RESOLVER=letsencrypt
HOST=traefik.docker.localhost
PORT=8080

# TLS Configuration
HOST_SANS=*.docker.localhost

# Authentication Configuration
TRUEAUTH_DOMAIN=auth.docker.localhost
TRUEAUTH_COOKIE=_auth
SSO_CREDENTIALS=admin:$apr1$xyz...  # Generate using htpasswd -nb admin your_password 