# Traefik Configuration
TRAEFIK_ENABLE=false
CERT_RESOLVER=staging
HOST=grafana.docker.localhost
PORT=3000

# Grafana Security
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme
GF_SERVER_ROOT_URL=https://${HOST}

# Grafana Features
GF_AUTH_ANONYMOUS_ENABLED=false
GF_AUTH_DISABLE_LOGIN_FORM=false
GF_SERVER_ROOT_URL=https://${HOST}
GF_USERS_ALLOW_SIGN_UP=false
GF_INSTALL_PLUGINS=grafana-piechart-panel