# Traefik Configuration
TRAEFIK_ENABLE=true
CERT_RESOLVER=letsencrypt
HOST=portainer.example.com
PORT=9000

# Portainer Configuration
PORTAINER_LICENSE=your_license_key # Optional: Required for Enterprise Edition 