# Traefik Configuration
TRAEFIK_ENABLE=false
CERT_RESOLVER=local
HOST=portainer.docker.localhost
PORT=9000

TRUEAUTH_DOMAIN=docker.localhost
TRUEAUTH_COOKIE=sso-cookie

# Portainer CE does not require a license key.
