# Traefik Configuration
TRAEFIK_ENABLE=false
CERT_RESOLVER=staging

UNLEASH_HOST=unleash.docker.localhost
UNLEASH_PORT=4242

# PostgreSQL Configuration
DATABASE_URL=postgres://postgres:your_secure_password@postgres:5432/unleash
DATABASE_SSL=false

# Unleash Configuration
UNLEASH_URL=https://unleash.docker.localhost
INIT_ADMIN_API_TOKENS=your_admin_api_token
INIT_CLIENT_API_TOKENS=default:development:your_client_api_token
INIT_FRONTEND_API_TOKENS=default:development:your_frontend_api_token

LOG_LEVEL=info
ENVIRONMENT=local
