# Traefik Configuration
TRAEFIK_ENABLE=false
CERT_RESOLVER=staging
HOST=beszel.docker.localhost
PORT=8090
# 
LISTEN=/beszel_socket/beszel.sock
# Keep KEY unquoted, for example: ssh-ed25519 AAAA... user@host
KEY=<ssh-public-key>
TOKEN=<token>
