# Traefik Configuration
TRAEFIK_ENABLE=true
CERT_RESOLVER=staging
HOST=website.docker.local
PORT=9800

# Supabase storage base URL
NEXT_PUBLIC_SUPABASE_BASE_URL=NEXT_PUBLIC_SUPABASE_BASE_URL
# Discord invite code (only code, URL assembled in config)
NEXT_PUBLIC_DISCORD_INVITE_CODE=NEXT_PUBLIC_DISCORD_INVITE_CODE