# Traefik Configuration
TRAEFIK_ENABLE=true
CERT_RESOLVER=letsencrypt
HOST=mongo.example.com
PORT=27017

# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_secure_password 