# Traefik Configuration
TRAEFIK_ENABLE=false
CERT_RESOLVER=staging
HOST=mongo.docker.localhost
PORT=27017

# MongoDB Configuration
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_secure_password 